body {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
}
header img {
    height: 5cm;
    width: 5cm;
    border-radius: 50%;
    border-style: inset;
    border-color: white;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
}
h2{
    color: red;
}
h3{
    color: white;
    font-size: 25px;
}
h4{
    color: red;
}
h5{
    color: white;
    font-size: 25px;
}
h6{
    color: red;
}
h7{
    color: white;
    font-size: 25px;
}
h8{
    color: red;
}
h9{
    color: white;
    font-size: 25px;
}
h10{
color: red;
}
h11{
    color: white;
    font-size: 25px; 
}
h12{
    color: red;
}
h13{
    color: white;
    font-size: 25px; 
}
h14{
    color: red;
}
h15{
    color: white;
    font-size: 25px; 
}
h16{
    color: red;
}
h17{
    color: white;
    font-size: 25px; 
}
h18{
    color: red;
}
h19{
    color: white;
    font-size: 25px; 
}
h20{
    color: red;
}
h21{
    color: white;
    font-size: 25px; 
}
h22{
    color: red;
}
h23{
   color: white;
   font-size: 25px; 
}